.blazor-ninja-page {
  min-height: 100%;
  height: unset;
}

.dashboard {
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 600px;
}

.dashboard a {
  color: var(--text-color);
  border: 1px solid var(--border-color);
  text-decoration: none;
  text-transform: lowercase;
  padding: 1rem;
  margin: 1rem;
  min-width: 150px;
  border-radius: 0.5rem;
}

.dashboard a:hover {
  border-color: var(--highlight-border-color);
}

.menu-page {
  justify-content: start;
}

.menu-page a {
  display: inline-block;
  width: 100%;
  padding: 0.8rem;
  text-decoration: none;
  border-bottom: 1px solid var(--link-border-color);
  line-height: var(--element-line-height);
  font-weight: 500;
}

.kickstart-project-form {
  flex-direction: row;
}

.kickstart-project-form > input {
  margin-bottom: unset;
  text-align: left;
  font-size: 0.9rem;
}

.kickstart-project-form > button {
  margin-bottom: 0;
  margin-left: 1rem;
  margin-top: 0;
  font-size: 0.9rem;
  max-width: 100px;
}

.blazor-ninja-flashing {
  margin-top: 1rem;
}

.kickstart-project-list-container {
  width: 100%;
  max-width: var(--form-max-width);
}

.kickstart-project-list-container > div {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-top: 1rem;
}

.kickstart-project-list-container > div > input {
  margin-bottom: unset;
  text-align: left;
  font-size: 0.9rem;
}

.kickstart-project-list-container > div > button {
  font-size: 0.9rem;
  margin-left: 1rem;
  max-width: 100px;
}

.kickstart-todo-task-list-page-container {
  justify-content: flex-start;
  align-items: center;
}

.kickstart-todo-task-list-page-container > .header > a {
  text-decoration: none;
  max-width: 262px;
  min-width: 252px;
  font-size: 0.9rem;
}

.kickstart-todo-task-list-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.kickstart-todo-task-list-container .e-gridheader {
  display: none;
}

.kickstart-todo-task-list-container .e-gridcontent input {
  display: inline-block;
  width: unset;
  margin: unset;
  line-height: 1rem;
}

.kickstart-todo-task-list-container .e-gridcontent label {
  display: inline-block;
  width: unset;
  margin: unset;
  line-height: 1rem;
}

.kickstart-todo-task-list-container .e-gridcontent .past-due {
  color: var(--error-text-color);
}

.kickstart-todo-task-form-container {
  width: 100%;
  max-width: 600px;
}

.kickstart-todo-task-form-container > form > input {
  text-align: left;
}

.kickstart-todo-task-form-container > form > textarea {
  text-align: left;
}

.kickstart-todo-task-form-container > form > .date {
  margin: var(--element-margin);
}

.kickstart-todo-task-form-container > form > input {
  font-size: 0.9rem;
}

.kickstart-todo-task-form-container > form > textarea {
  font-size: 0.9rem;
}

.kickstart-todo-task-form-container > form > button {
  font-size: 0.9rem;
  max-width: 262px;
}

.sf-license-warning {
  display: none !important;
}

.blazor-ninja-form-container .img-container {
  width: 100%;
  height: unset;
  border-radius: 0.75rem;
  margin-bottom: 1rem;
  overflow: hidden;
}

.blazor-ninja-form-container .img-container img {
  width: 100%;
}

.blazor-ninja-view-container .img-container {
  width: 100%;
  height: unset;
  border-radius: 0.75rem;
  margin-bottom: unset;
  overflow: hidden;
}

.blazor-ninja-view-container .img-container img {
  width: 100%;
}

.blazor-ninja-field-container > label {
  display: none;
}

.photourl-container {
  display: flex;
  flex-direction: column;
}

.blazor-ninja-form-container .photourl-container > label {
  display: block;
}

.blazor-ninja-form-container button {
  margin-top: 0.5rem;
}

.data {
  flex-direction: row;
  justify-content: flex-end;
}

.data > .blazor-ninja-field-container {
  width: unset;
  margin-left: 1rem;
}

.data > .blazor-ninja-field-container:first-child {
  margin-left: unset;
}

.label-container {
  flex: 1;
  width: 100%;
  text-align: left;
}

.label-container > span {
  display: block;
  width: 100%;
}

.description p {
  width: 100%;
  font-size: 1rem;
}

.blazor-ninja-view-container {
  margin-bottom: 1.5rem;
  width: 100%;
  max-width: unset;
}

.menu-items {
  width: 100%;
  max-width: 600px;
}

.units {
  font-size: 0.9rem;
  margin-left: 0.1rem;
}

.admin-categories-container {
  display: flex;
  flex-direction: column;
}

.admin-categories-container > div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 1rem;
}

.admin-categories-container > div > span {
  flex: 1;
}

.admin-categories-container > div:first-child {
  justify-content: flex-end;
}

.admin-categories-container > div > button {
  font-size: 0.9rem;
  margin: unset;
  margin-left: 0.5rem;
  width: 5rem;
}

.admin-categories-container > div > a {
  font-size: 0.9rem;
  margin: unset;
  margin-left: 0.5rem;
  width: 5rem;
}

.admin-items-container > div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 0.5rem;
}

.admin-items-container > div:first-child {
  justify-content: flex-end;
}

.admin-items-container button {
  font-size: 0.9rem;
  min-width: 5rem;
  max-width: 5rem;
  margin: unset;
  margin-left: 0.5rem;
}

.admin-items-container a {
  font-size: 0.9rem;
  min-width: 5rem;
  max-width: 5rem;
  margin: unset;
  margin-left: 0.5rem;
  font-weight: normal;
}

.admin-items-container .menuitem {
  margin: unset;
}

.admin-items-container .blazor-ninja-field-container {
  margin: unset;
}

.admin-items-container .label-container {
  margin-left: 1rem;
}

.admin-items-container .label-container > span {
  font-size: 0.9rem;
}

.admin-items-container .basic {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-content: center;
  flex: 1;
}

.admin-items-container .img-container {
  max-width: 5rem;
  border-radius: 0.25rem;
}

.admin-items-container .photourl-container {
  width: unset;
}

.admin-items-container .photourl-container > label {
  display: none;
}
